footer
  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  script(type='text/javascript' src='public/js/jquery.min.js')
  script(src='public/js/popper.min.js')
  script(src='public/js/bootstrap.min.js')
  script(src='public/js/iziToast.min.js' )
  script(type='text/javascript' src='public/js/mdb.min.js')
  script(type='text/javascript' src='public/js/scripts.js')